/*reseteo de valores*/
@import url("https://use.typekit.net/qwz5esp.css");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}
/*configuracion de variables*/
:root{
    --main-color: #f3f3f3;
    --secondary-color: #161516;
    --third-color: #850f0f;
    --third-color-t: #840404bc;
}
/*estilos del body*/
body{
    background-color: var(--secondary-color);
    color: var(--main-color);
}
/*generalidades*/

h1{
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 20px;
   
}
h2{
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 20px;
}

header,footer{
    background-color: var(--third-color);
    color: var(--main-color);
    padding: 20px;
}

.contenedorFooter{
    height: 100%;
    color: var(--main-color);
}
/*estilos del header*/

.header{
    height: 15vh;
    position:sticky;
    top:0; 
    z-index: 10; 
    nav{
        height: 100%;
        display:flex;
        align-items: center;
        justify-content: space-between;
        a{
            text-decoration: none;
            color: var(--main-color);
            font-size:1.6rem;
        }
        ul{
            list-style: none;
            display:flex;
            column-gap: 20px;
            a{
                font-size:1.4rem;
            }
           
        }
    }
}
/*main
estilos seccion principal
*/
.sectionTitulos{
    height: 85vh;
    background:linear-gradient(to bottom, #000000a3, #000000a3),url("../assets/img/banner-bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
   
    .contenedorTitulos{
        text-align: center;
        /*efecto blur a un contenedor*/
        backdrop-filter: blur(8px);
        width: 60%;
        margin:0 auto;
        border-radius: 5px;
        a{
            margin-top: 20px;
            display: inline-block;
            text-decoration: none;
            color:var(--main-color);
            font-size: 1rem;
            border:2px solid var(--main-color);
            border-radius: 5px;
            padding:10px 20px;
        }
    }
}


header nav div div ul li a:hover {
    font-weight: bolder;
}

header nav div a span {
    font-family: "tt-autonomous", sans-serif;
    font-weight: 600;
    font-style: normal;
}


footer div nav ul li a:hover {
    text-decoration: underline;
    font-weight: 700;

}